@font-face {
    font-family: 'Sunflower';
    src:  url('../src/fontSunflower.otf') format('opentype');
  }

*{
    box-sizing: border-box;
    font-family: Sunflower;
}

:root{
    font-size: 20px;
}
html, body{margin: 0;padding: 0;}

//KOLORY ----------------------------
$backgroundColor:	#E5E3CE;
$textColor: #233A48;

$greenColor:	#7e9389;
$greenColorTransparent:#a3afa2;

$blackColor:#7b7d7a;
$blackColorTransparent:#a4a59c;

$redColor:	#975f59;
$redColorTransparent:#b28b7e;

$whiteColor: #f4f5eb;
$whiteColorTransparent:#eeeedf;
//-----------------------------------

//ANIMACJE---------------------------
@keyframes znikanie{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes kulkaFullScreen{
    from{transform: scale(1.75);}
    to{transform: scale(20)}
}

@keyframes bounceSorryBox{
    from{}
    to{transform: translateY(-5px);}
}

//-----------------------------------

//KLASY ANIMACJI---------------------
.animacjaZnikanie{
    animation:znikanie 500ms 1s both;
}

.animacjaZnikanieNoDelay{
    animation:znikanie 500ms both;
}

.animacjaPojawianie{
    animation:znikanie 500ms both alternate-reverse;
}

.animacjaKulkaFullScreen{
    animation: kulkaFullScreen 400ms both ease-in alternate 2;
}
//-----------------------------------


$medium:800px;

body{
    background-color: $backgroundColor;
}





article{
    height: 100vh;
    height:calc(var(--vh, 1vh)*100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
#menu{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}


        .kulka{
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            color: $textColor;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .zielona{
            background-color: $greenColor;
            // background-image: linear-gradient(to left, $greenColor, $greenColorTransparent );
        }
        .czarna{
            background-color: $blackColor;
            // background-image: linear-gradient(to left, $blackColor, $blackColorTransparent );
        }
        .czerwona{
            background-color: $redColor;
            // background-image: linear-gradient(to left, $redColor, $redColorTransparent );
        }
        .biala{
            background-color: $whiteColor;
            // background-image: linear-gradient(to left, $whiteColor, $whiteColorTransparent );
        }

        #logoSvg{
            width: 60vw;
            height: 25vh;
        }
        p, #temperaturaBox{
            font-size: 1.75rem;
            color: $textColor;
            margin: 0;
        }

        #temperaturaBox{
            font-size: 1.1rem;
        }

        #ciekawostkiBox{
            margin:2vh 0;
            color: $textColor;
        }

        #strzalka{
            width:50px;
        }

        .sorryBox{
            margin-top:10vh;
            animation: bounceSorryBox 1.5s 500ms both infinite alternate ease-in, znikanie 1s  alternate-reverse;
        }

    }

h2{
    color: $textColor;
}