@font-face {
    font-family: 'Sunflower';
    src:  url('../src/fontSunflower.otf') format('opentype');
  }

*{
    // box-sizing: border-box;
    font-family: Sunflower;
}

:root{
    font-size: 20px;
}
html, body{margin: 0;padding: 0;}

//KOLORY ----------------------------
$backgroundColor:	#E5E3CE;
$textColor: #233A48;

$greenColor:	#7e9389;
$greenColorTransparent:#a3afa2;

$blackColor:#7b7d7a;
$blackColorTransparent:#a4a59c;

$redColor:	#975f59;
$redColorTransparent:#b28b7e;

$whiteColor: #f4f5eb;
$whiteColorTransparent:#eeeedf;
//-----------------------------------

//ANIMACJE---------------------------
@keyframes znikanie{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes kulkaFullScreen{
    from{transform: scale(1.75);}
    to{transform: scale(20)}
}

@keyframes bounceSorryBox{
    from{}
    to{transform: translateY(-5px);}
}

@keyframes powrotKulka{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(20);
    }
}

@keyframes kulkaFinished {
    from{transform: scale(1.75);}
    to{transform: scale(2)}
}

@keyframes pojawienieSieTekstu{
    from{
        color:transparent;
    }
    to{
        color: $textColor;
    }
}

@keyframes kulkaStart{
    from{
        transform: scale(1.75);
    }
    to{
        transform: scale(1.5);
    }
}
//-----------------------------------

//KLASY ANIMACJI---------------------
.animacjaZnikanie{
    animation:znikanie 500ms 1s both;
}

.animacjaZnikanieNoDelay{
    animation:znikanie 500ms both;
}

.animacjaPojawianie{
    animation:znikanie 500ms both alternate-reverse;
}

.animacjaKulkaFullScreen{
    animation: kulkaFullScreen 400ms both ease-in alternate 2;
}
.animacjaKulkaPowrot{
    animation: powrotKulka 500ms both ease-in alternate 2;
}
.animacjaKulkaFinished{
    animation: kulkaFinished 2s both cubic-bezier(0.785, 0.135, 0.15, 0.86) alternate infinite;
}
.animacjaPojawienieTekstu{
    animation: pojawienieSieTekstu 800ms both ease-in-out;
}
.animacjaKulkaStart{
    animation: kulkaStart 300ms both ease-in-out alternate 2;
}
//-----------------------------------


$medium: 800px;
$phone: 450px;
$phoneS: 330px;

body{
    background-color: $backgroundColor;
}

article{
    height: 100vh;
    height:calc(var(--vh, 1vh)*100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
#menu{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}


        .kulka{                   
            width: 23vw;
            max-width: 23vw;
            min-width: 23vw;
            height: 23vw;
            max-height: 23vw;
            min-height: 23vw;
            border-radius: 50%;
            color: $textColor;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: $phone) {
                width: 30vw;
                max-width: 30vw;
                min-width: 30vw;
                height: 30vw;
                max-height: 30vw;
                min-height: 30vw;
            }

            @media (max-width: $phoneS) {
                width: 35vw;
                max-width: 35vw;
                min-width: 35vw;
                height: 35vw;
                max-height: 35vw;
                min-height: 35vw;
            }
        }
        .kulkaPowrot{
            background-color: $backgroundColor;
            position: absolute;
        }
        .zielona{
            background-color: $greenColor;
            // background-image: linear-gradient(to left, $greenColor, $greenColorTransparent );
        }
        .czarna{
            background-color: $blackColor;
            // background-image: linear-gradient(to left, $blackColor, $blackColorTransparent );
        }
        .czerwona{
            background-color: $redColor;
            // background-image: linear-gradient(to left, $redColor, $redColorTransparent );
        }
        .biala{
            background-color: $whiteColor;
            // background-image: linear-gradient(to left, $whiteColor, $whiteColorTransparent );
        }

        #logoSvg{
            width: 60vw;
            height: 25vh;
        }
        p, #temperaturaBox{
            font-size: 1.75rem;
            color: $textColor;
            text-align: center;
            margin: 0;
        }

        #temperaturaBox{
            font-size: 1.1rem;
        }

        #ciekawostkiBox{
            height: 4vh;
            min-height: 4vh;
            color: $textColor;
            text-align: center;
        }

        #strzalka{
            width:50px;
        }
        #powrotStrzalka{
            position: absolute;
            top: 3vh;
            left: calc(6vh*(9/16));
        }

        .sorryBox{
            margin-top:10vh;
            animation: bounceSorryBox 1.5s 500ms both infinite alternate ease-in, znikanie 1s  alternate-reverse;
        }

    }

h2{
    color: $textColor;
}